<div>

  <h1>Resetar contraseña</h1>

  <form id="resetForm">

    <label>Email</label>

    <input name="email" />

    <br />

    <label>Nueva contraseña</label>

    <input name="password" type="password" />
    <br />

    <input type="submit" />

  </form>
</div>

<script src="/js/reset.js"></script>